<div class="top-row ps-3 navbar navbar-dark" style="background-color: #343434 !important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TicketsRUs</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" style="background-color: #343434 !important;" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color: #343434;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allevents">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> All Events
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Settings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="all-tickets">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tickets
            </NavLink>
        </div>

       
    </nav>
</div>
